<hero [content]="'Raising up the next generation of worship leaders'" [imageUrl]="heroBgURL" [title]="'Radiant Worship'"></hero>

<app-header [headerLinks]="worshipNav"></app-header>

<div class="section-padding" id="about">
    <div class="row">
        <h1>What is Radiant Worship</h1>
        <p>The vision of Epicentre Radiant’s worship ministry is to raise up the next generation of worship leaders who pursue
            extravagant and excellent worship, minister from God’s presence, and transform their generation as they encounter
            God’s greatness and love.
        </p>
    </div>
</div>

<div class="section-padding" id="serving">

    <div class="row">
        <div class="six columns">
            <h2>Spotify Playlist</h2>
            <p>We have a curated playlist of songs that our group is worshiping with:
                <a href="https://open.spotify.com/user/phillipchan1/playlist/25GImM79VIzjiE7Of4Z4GS?si=hnJi3uOORde66BKKYAfhvg" target="_blank">Listen on Spotify
                </a>
            </p>
        </div>
        <div class="six columns">
            <h2>Getting Involved</h2>
            <p>The Radiant Worship Team is growing! If you've called Radiant Youth your home for at least 6 months, we want
                to provide a formative place where your faith grows, where your gifts can be developed and used, and where
                you can see the work of your labor be used to bring people closer to God in a way that wrecks their life
                forever.
            </p>
            <p>
                <a class="button" href="https://app.pipefy.com/public/form/ePX66Hg4" target="_blank">Apply for Worship Team</a>
            </p>
        </div>
    </div>
</div>