<div class="home-page">
    <!-- Header -->
    <app-header [headerLinks]="siteNav"></app-header>

    <!-- homepage hero
		================================================== -->
    <section id="hero">
        <div class="row hero-content">
            <div class="twelve columns hero-container">
                <!-- hero-slider start-->
                <div id="hero-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="flex-caption">
                                <h1 class="">
                                    We are Radiant–the shining youth movement at
                                    Epicentre Church
                                </h1>
                                <h3 class="">Encounter. Gather. SHINE.</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end hero-slider -->
            </div>
            <!-- end twelve columns-->
        </div>
        <!-- end row -->
        <div id="more">
            <a class="smoothscroll" href="#about"
                >More About Us<i class="fa fa-angle-down"></i
            ></a>
        </div>
    </section>
    <!-- end homepage hero -->
    <!-- Services Section
		================================================== -->
    <section class="section-padding" id="connect">
        <div class="row section-head">
            <div class="twelve columns">
                <h1>Connect<span>.</span></h1>
                <hr />
            </div>
        </div>
        <!-- end section-head -->
        <div class="row mobile-no-padding">
            <div class="process bgrid-half tab-bgrid-whole group">
                <div class="bgrid">
                    <h3>Youth Nights</h3>
                    <p>
                        Come to our main youth weekly event (Grades 6-12
                        welcome), bring a friend, as we gather to encounter God!
                    </p>
                    <div class="service-content">
                        <p>
                            <strong
                                >Fridays <br />
                                6:30pm - 9pm</strong
                            >
                        </p>
                        <p>
                            Location <br />
                            Church of the Foothills <br />
                            425 Sierra Madre Villa Ave, <br />
                            Pasadena, CA 91107
                        </p>
                    </div>
                </div>
                <!-- end bgrid -->
                <div class="bgrid">
                    <h3>Youth D Groups</h3>
                    <div class="service-content">
                        <p>
                            Take following Jesus to the next level in
                            discipleship groups where faith is tried, grown, and
                            multiplied.
                        </p>
                        <p>
                            To get into D groups, please visit youth nights for
                            more information or contact our youth pastor Ben.
                        </p>
                    </div>
                </div>
                <!-- end service-list -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end services -->
    <section class="section-padding" id="calendar">
        <div class="row section-head">
            <div class="twelve columns">
                <h1>Calendar<span>.</span></h1>
                <hr />
                <div id="calendar-app"></div>
            </div>
        </div>
    </section>
    <!-- About Section
		================================================== -->
    <section id="about">
        <div class="row section-head">
            <div class="twelve columns">
                <h1>Who We Are<span>.</span></h1>
                <hr />
                <p>
                    To encounter God face to face, to be a home where youth find
                    their purpose, and raise up leaders who will be lights on
                    their campus and to the world.
                </p>
            </div>
            <!-- end section-head -->
        </div>
        <div class="row mobile-no-padding">
            <div class="process bgrid-third tab-bgrid-whole group">
                <div class="bgrid">
                    <h3>Face to Face</h3>
                    <p>
                        Moses met God <em>face to face</em>. We're here to
                        encounter God in all his glory, love, and power and to
                        <em>experience</em> him for ourselves.
                    </p>
                </div>
                <div class="bgrid">
                    <h3>A Home for Youth</h3>
                    <p>
                        We are a home and a family for youth to
                        <em>discover their God-given purpose</em> in life. Clue:
                        it's not found in the thousand narratives our world
                        teaches us about who we are; it's found in our Maker's
                        heart.
                    </p>
                </div>
                <div class="bgrid">
                    <h3>Shining Leaders</h3>
                    <p>
                        Be transformed and be the transformation. The move of
                        God isn't a lake, but a river flowing through us,
                        bringing transformation to our campuses and to the world
                        around us.
                    </p>
                </div>
            </div>
            <!-- end process -->
        </div>
        <!-- end row -->
    </section>
    <!-- end about -->
    <!-- contact
		================================================== -->
    <section id="contact">
        <div class="row section-head">
            <div class="twelve columns">
                <h1>Get In Touch With Us<span>.</span></h1>
                <hr />
            </div>
        </div>
        <!-- end section-head -->
        <div class="row">
            <div id="contact-form" class="six columns tab-whole left">
                <!-- form -->
                <form
                    name="contactForm"
                    id="contactForm"
                    method="post"
                    action=""
                >
                    <fieldset>
                        <div class="group">
                            <input
                                name="contactName"
                                type="text"
                                id="contactName"
                                placeholder="Name"
                                value=""
                                minLength="2"
                                required
                            />
                        </div>
                        <div>
                            <input
                                name="contactEmail"
                                type="email"
                                id="contactEmail"
                                placeholder="Email"
                                value=""
                                required
                            />
                        </div>
                        <div>
                            <input
                                name="contactSubject"
                                type="text"
                                id="contactSubject"
                                placeholder="Subject"
                                value=""
                            />
                        </div>
                        <div>
                            <textarea
                                name="contactMessage"
                                id="contactMessage"
                                placeholder="message"
                                rows="10"
                                cols="50"
                                required
                            ></textarea>
                        </div>
                        <div>
                            <button class="submitform">Submit</button>
                            <div id="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning"></div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="icon-ok"></i>Your message was sent, thank you!
                    <br />
                </div>
            </div>
            <div class="six columns tab-whole right">
                <p class="lead">
                    Have any questions about our youth group? Feel free to
                    contact us and we'll be in touch!
                </p>
                <h3 class="address">Come Visit Youth Nights!</h3>

                <p>
                    For our all church worship service, please see
                    <a href="http://epicentre.org/">Epicentre</a> for more
                    information.
                </p>
                <h3>Point of Contact:</h3>
                <p>
                    Ben Hui
                    <br />
                    <a href="mailto:ben@epicentrechurch.org"
                        >ben@epicentrechurch.org</a
                    >
                    <br />
                    Youth Pastor
                </p>
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end contact -->
    <!-- Footer
		================================================== -->
    <footer>
        <div class="row">
            <ul class="copyright">
                <li>
                    &copy; Copyright <span class="current-year"></span>
                    <a href="http://www.epicentre.org">Epicentre Church</a>.
                </li>
            </ul>
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#hero"
                    >Back to Top<i class="fa fa-angle-up"></i
                ></a>
            </div>
        </div>
        <!-- end row -->
    </footer>
    <!-- end footer -->
    <!-- <div id="preloader">
			<div id="loader"></div>
		</div> -->
</div>
