<div class="retreat-page">
  <div class="">
    <div class="row"><img src="/assets/retreat/2019/top-header.png" /></div>
  </div>
  <div class="section-padding retreat-hero">
    <div class="row"><img src="/assets/retreat/2019/logo.png" /></div>
  </div>

  <div class="section-padding video-section">
    <div class="row">
      <iframe
        width="100%"
        height="485"
        src="https://www.youtube.com/embed/BFytVZX9NOQ"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <app-header [theme]="theme" [headerLinks]="retreatNav"></app-header>

  <div id="about" class="section-padding">
    <div class="row">
      <div class="six columns  bg-section bg-section-gray">
        <h2>Location</h2>
        <span class="large surprise-text">pali retreat center</span>
        <span>running springs, CA</span>

        <div style="padding-left: 1em">
          <h2>Date</h2>
          <span class="large surprise-text">feb 15-18, 2019</span>
        </div>
      </div>
      <div class="six columns  bg-section bg-section-yellow">
        <h2>Cost</h2>
        <span class="large surprise-text">early bird: $55</span>
        <span>(before 1/1/2019) </span>
        <span class="large surprise-text">regular: $75</span>
        <span>(before 1/14/2019) </span>
        <span class="large surprise-text">late bird: $95</span>
        <span>(registration closed: 2/1/2019) </span>

        <p>
          <em
            >Financial assistance available! Please email
            <a href=" mailto:ben@epicentrechurch.org ">Ben Hui</a> (Youth
            Pastor) for scholarship discount codes.</em
          >
        </p>
      </div>
    </div>
  </div>

  <div class="section-padding">
    <div class="row">
      <!--
        <p>
          Drop off is on Friday February 15 at 4:30PM (buses will depart at
          6:00PM) <br />
          Drop off location is at Epicentre Church 1539 E.Howard St. Pasadena, CA
          91104 <br />
          *dinner will not be provided Friday evening. please arrange to eat
          before drop-off or bring your own sack dinner on the bus.
        </p>

        <p>
          Pick up is on Monday February 19 at 3:30PM* and will be at the same
          location as drop off: <br />Epicentre Church 1539 E. Howard <br />
          St. Pasadena, CA 91104 *we will be texting parents with an updated ETA
          when we are on the bus coming back.
        </p>
      -->

      <div style="text-align: center;" class="">
        <a
          href="https://epicentrepasadena.ccbchurch.com/goto/forms/312/responses/new"
          class="button"
          target="_blank"
          >Register Now!</a
        >
      </div>
    </div>
  </div>

  <!-- faq -->

  <div id="faq" class="section-padding ">
    <div class="row section-head ">
      <div class="twelve columns ">
        <h1>FAQ <span>.</span></h1>
        <hr />
      </div>
    </div>
    <!-- end section-head -->
    <div class="row mobile-no-padding ">
      <div class="six columns ">
        <faq [faqContent]="faqContentOne" [theme]="theme"></faq>
      </div>
      <div class="six columns ">
        <faq [faqContent]="faqContentTwo" [theme]="theme"></faq>
      </div>
    </div>
    <!-- end row -->
  </div>

  <!-- more questions -->
  <div id="contact" class="section-padding">
    <div class="row section-head ">
      <div class="twelve columns ">
        <h1>More questions? Let us know <span>.</span></h1>
        <hr />
      </div>
    </div>
    <!-- end section-head -->
    <div class="row mobile-no-padding ">
      <div class="twelve columns ">
        If you have any other questions, please contact
        <a href="mailto:ben@epicentrechurch.org ">Ben Hui</a> (Youth Pastor)!
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
