<hero [content]="heroText" [imageUrl]="intoNightLogoUrl" [title]="heroTitle" [videoBackgroundUrl]="starsLoopUrl">
</hero>

<app-header [headerLinks]="retreatNav"></app-header>

<div class="section-padding">
	<div class="row">
		<h1>Retreaters! Drop off & Pick up Information</h1>
		<p>
			Drop off is on Friday February 16 at 5:00PM (buses will depart at 6:00PM)
			<br /> Drop off location is at Epicentre Church 1539 E.Howard St. Pasadena, CA 91104
			<br /> *dinner will not be provided Friday evening. please arrange to eat before drop-off or bring your own sack dinner on the
			bus.
		</p>

		<p>
			Pick up is on Monday February 19 at 3:30PM* and will be at the same location as drop off:
			<br />Epicentre Church 1539 E. Howard
			<br /> St. Pasadena, CA 91104 *we will be texting parents with an updated ETA when we are on the bus coming back.
		</p>
	</div>

</div>

<div id="about" class="section-padding">
	<div class="row section-head">
		<div class="twelve columns">
			<h1>About
				<span>.</span>
			</h1>
			<hr />
		</div>
	</div>
	<!-- end section-head -->
	<div class="row mobile-no-padding">
		<div class="process bgrid-half tab-bgrid-whole group">
			<div class="bgrid">
				<h3>Get ready for Radiant's first retreat!</h3>

				<aside class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/WlXMEr39pl0" frameborder="0" allowfullscreen></iframe>
				</aside>

				<p>In a world where there is great darkness all around, who are Christians supposed to be?</p>

				<p>
					<em>Into the Night</em> is a powerful retreat where we are going to explore our God-given purposes of being lights of the
					world as we worship in God's presence, hear his word, and have a
					<em>ton of fun</em> while doing it!</p>
			</div>
			<div class="bgrid">
				<h3>Details</h3>
				<div class="service-content">
					<h4>Location</h4>
					<p>
						<a href="https://www.paliretreat.com/" target="_blank">Pali Retreat Center</a>
					</p>
					<h4>Dates</h4>
					<p>
						Presidents Day Weekend
						<br /> Friday February 16 - Monday February 19, 2018
					</p>

					<h4>Costs</h4>
					<p>
						<strong class="strike">Early Bird (before 1/20/18)</strong>
						<br/>
						<span class="strike">$55 per student</span>
						<br/>

					</p>

					<p>
						<strong class="strike">Late Pricing (After 1/20/18, before 2/9/18)</strong>
						<br/>
						<span class="strike">$75 Per student</span>
					</p>

					<p>
						<em>Financial assistance available! Please email
							<a href=" mailto:ben@epicentrechurch.org ">Ben Hui</a> (Youth Pastor) for scholarship discount codes.</em>
					</p>

					<h4>Transportation</h4>
					<p>We will using charter buses to get students to and from the retreat site.</p>
					<p>
						<strong>
							<em>Please arrive at Mott Auditorium by 5pm on Friday!</em>
						</strong>
						<br /> Bus will be leaving shortly after student is checked-in

					</p>
					<p>Drop off: Monday 3:30pm in front of Mott Auditorium</p>

				</div>
			</div>
			<!-- end service-list -->
		</div>
	</div>
	<!-- end row -->
</div>

<!-- faq -->

<div id="faq " class="alt-section section-padding ">
	<div class="row section-head ">
		<div class="twelve columns ">
			<h1>FAQ
				<span>.</span>
			</h1>
			<hr />
		</div>
	</div>
	<!-- end section-head -->
	<div class="row mobile-no-padding ">
		<div class="twelve columns ">
			<faq [faqContent]="faqContent "></faq>
		</div>
	</div>
	<!-- end row -->
</div>

<!-- more questions -->
<div id="contact " class="section-padding ">
	<div class="row section-head ">
		<div class="twelve columns ">
			<h1>More questions? Let us know
				<span>.</span>
			</h1>
			<hr />
		</div>
	</div>
	<!-- end section-head -->
	<div class="row mobile-no-padding ">
		<div class="twelve columns ">
			If you have any other questions, please contact
			<a href="mailto:ben@epicentrechurch.org ">Ben Hui</a> (Youth Pastor)!
		</div>
	</div>
	<!-- end row -->
</div>