<div class="retreat-page">
    <div class="">
        <div class="row"><img src="/assets/retreat/2019/top-header.png" /></div>
    </div>
    <div class="section-padding retreat-hero">
        <div class="row"><img src="/assets/retreat/2019/logo.png" /></div>
    </div>

    <div class="section-padding video-section">
        <div class="row">
            <iframe
                width="100%"
                height="485"
                src="https://www.youtube.com/embed/KkE6QZIqJyA"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>

    <app-header [theme]="theme" [headerLinks]="retreatNav"></app-header>

    <div id="about" class="section-padding">
        <div class="row">
            <div class="six columns  bg-section bg-section-gray">
                <h2>Location</h2>
                <span class="large surprise-text">pali retreat center</span>
                <span>running springs, CA</span>
                <div style="padding-left: 1em">
                    <h2>Date</h2>
                    <span class="large surprise-text">feb 15-18, 2019</span>
                </div>
                <div style="padding-left: 2em">
                    <h2>Who?</h2>
                    <span class="large surprise-text">you!</span>
                </div>
            </div>
            <div class="six columns  bg-section bg-section-yellow">
                <h2>Cost</h2>
                <span class="large surprise-text">early bird: $55</span>
                <span>(before 1/11/2019) </span>
                <span class="large surprise-text">late bird: $75</span>
                <span>(registration closed: 2/1/2019) </span>

                <p>
                    <em
                        ><strong>Families with multiple students</strong>: If
                        you're registering multiple children, after the first
                        student each student is only <strong>$27</strong>!
                        (Register each student separately. After the first
                        student registration, check the multiple children option
                        on registration form)</em
                    >
                </p>
                <p>
                    <em
                        ><strong>Financial assistance available!</strong> Please
                        email
                        <a href=" mailto:ben@epicentrechurch.org ">Ben Hui</a>
                        (Youth Pastor) for scholarship discount codes.</em
                    >
                </p>
            </div>
        </div>
    </div>

    <div class="section-padding">
        <div class="row">
            <!--
        <p>
          Drop off is on Friday February 15 at 4:30PM (buses will depart at
          6:00PM) <br />
          Drop off location is at Epicentre Church 1539 E.Howard St. Pasadena, CA
          91104 <br />
          *dinner will not be provided Friday evening. please arrange to eat
          before drop-off or bring your own sack dinner on the bus.
        </p>
        
        <p>
          Pick up is on Monday February 19 at 3:30PM* and will be at the same
          location as drop off: <br />Epicentre Church 1539 E. Howard <br />
          St. Pasadena, CA 91104 *we will be texting parents with an updated ETA
          when we are on the bus coming back.
        </p>
      -->

            <div style="text-align: left;" class="">
                <!-- <a
          href="https://epicentrepasadena.ccbchurch.com/goto/forms/312/responses/new"
          class="button"
          style="font-size: 2em; padding: 1em;"
          target="_blank"
          >Register Now!</a
          >
          <p><em>(Please have health insurance information ready)</em></p> -->

                <h2>Drop off Instructions</h2>
                <p>
                    Drop off is precisely at 4:30pm!*
                </p>
                <p>
                    To ease traffic, help students get to check in on time, and
                    get luggage and students safely and quickly on bus, please
                    follow
                    <a
                        target="_blank"
                        href="https://docs.google.com/drawings/d/123Qdd1SKqm5WxmN-PFWRj8NWYjPP_DWQL35_3hEcxOk/edit?usp=sharing"
                        >this diagram</a
                    >
                    of how drop off will work.
                </p>

                <p>
                    Please pull into the north end of Mott Parking Lot, do a
                    U-Turn, then drop off students in front of the check in
                    station.
                </p>
                <p>
                    *Please make arrangements to arrive on time so no students
                    are left behind. We have precise departure time and
                    unfortunately if students are unable to make it at that
                    time, please arrange for their own ride. If you are
                    unfamiliar with the area, you can use this
                    <a
                        target="_blank"
                        href="https://www.google.com/maps/place/Epicentre+Church/@34.1718151,-118.1175788,19.09z/data=!4m8!1m2!2m1!1smott+auditorium+east+howard+street+pasadena+ca!3m4!1s0x0:0x35df74a330021607!8m2!3d34.1720912!4d-118.1176548"
                        >Google Maps Reference</a
                    >
                    as a reference for where to navigate.
                </p>

                <h2>Pick Up Instructions</h2>
                <p>
                    We are shooting to leave Pali Conference center at 1:30pm
                    which means we should arrive back at Mott Auditorium at the
                    same place as drop off around 3:30pm. Please be ready around
                    that time and arrange to communicate with your students.
                </p>

                <h2>Packing List</h2>
                Here’s a packing list of things you might want to take with you
                to the retreat:

                <li>Bible, Journal, Pen</li>
                <li>Sleeping Bag</li>
                <li>Pillow</li>
                <li>
                    Clothes for snowy weather (30° – 50° F, warm jackets and
                    lots of layers)
                </li>
                <li>Clothes and shoes for outdoor activities</li>
                <li>Water Bottles</li>
                <li>
                    Shampoo, soap, toothpaste, toothbrush and other various
                    toiletries
                </li>
                <li>Towel(s)</li>
                <li>
                    Volleyball, frisbee, football, etc ( please write your name
                    on it)
                </li>
                <li>Flashlight</li>
                <li>Positive Attitude and Expectant Heart</li>

                Please DO NOT bring: Weapons (including knives), illegal drugs,
                fireworks, handheld gaming devices, alcohol, or negativity
            </div>
        </div>
    </div>

    <!-- faq -->

    <div id="faq" class="section-padding ">
        <div class="row section-head ">
            <div class="twelve columns ">
                <h1>FAQ <span>.</span></h1>
                <hr />
            </div>
        </div>
        <!-- end section-head -->
        <div class="row mobile-no-padding ">
            <div class="six columns ">
                <faq [faqContent]="faqContentOne" [theme]="theme"></faq>
            </div>
            <div class="six columns ">
                <faq [faqContent]="faqContentTwo" [theme]="theme"></faq>
            </div>
        </div>
        <!-- end row -->
    </div>

    <!-- more questions -->
    <div id="contact" class="section-padding">
        <div class="row section-head ">
            <div class="twelve columns ">
                <h1>More questions? Let us know <span>.</span></h1>
                <hr />
            </div>
        </div>
        <!-- end section-head -->
        <div class="row mobile-no-padding ">
            <div class="twelve columns ">
                If you have any other questions, please contact
                <a href="mailto:ben@epicentrechurch.org ">Ben Hui</a> (Youth
                Pastor)!
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
